<body class="sign_up_page">

<h1>BLOG</h1>

<div class= "ladybug">
  <%= image_tag("ladybug.png") %>

</div>


<div class="line">
  <p>An Experimental Website built by Syeda.</p>
  <p>Every information shared here is secured and will not be used for any other purpose.</p>
</div>
<div class="sign_up_page_body">
  <h2>Sign up to join Blog</h2>
  <hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Your Email" %>
  </div>
<br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter Password" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-enter Password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Create an account", class: 'button' %>
  </div>
  <br>
<% end %>
 <p> ----- or ----- </p>
<%= render "devise/shared/links" %>
</div>


<footer>
  Copyright © 2020 SyedaIsmatFarjana, All rights reserved
</footer>
</body>