<section class="top_heading">
    <h1>BLOG  </h1>
    <!--<h2>Tales of Doctors</h2>-->
    <hr>
    <p>Welcome to the homepage
      <br>
      <%= link_to 'Add a New Post', new_article_path %>
    </p>
</section>


 <div class="all_posts">
    <% @articles.each do |article| %>
     <div class="post_heading">
         <h2>
          <%= article.title %>
         </h2>
      </div>
      <div class="post_author">
        <%= article.author %>, created at <%= article.created_at %>
      </div>
      <div class="post">
        <%= article.body %>
      </div>
      <%= link_to 'Continue Reading..', article %>
   <% end %>
      <%#= link_to 'Edit', edit_article_path(article) %>

</div>
<!--   all post end-->

 <footer>
   Copyright © 2020 SyedaIsmatFarjana, All rights reserved
 </footer>

