<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @article.title %></strong>

</h1>

<h2>
  <strong>Author:</strong>
  <%= @article.author %>
</h2>

<p>
  <hr>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>



