<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @article.title %></strong>

</h1>

<h2>
  <strong>Author:</strong>
  <%= @article.author %>
</h2>

<p>
  <hr>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<!--show comment-->


<!-- comment form-->
<%= form_with(url: "/articles/#{@article.id}/comments", method:"post") do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<br>
  <div class="field">
    <% form.label :body %><br>
    <%= form.text_area :body %>
  </div>


  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


